@charset "ISO-8859-1";
body{
	
	
	align:center;
	coolr:skyblue;
	
}
table{
	text-align:center;
	color:white;
	
}

select {
	
	width: 100%;
	padding: 16px 20px;
	border: none;
	border-radius:4px;
	font-size: 21px;
	
}
input[type=submit] {
   /*  background-color: #4CAF50; */
   background-color:transparent;
    color: 	#F0E68C;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 21px;
    
} 
 
